
.list-item strong {
    font-size: 20px;
}

ion-list {
    padding: 20px;
}

.activity-right-side {
    text-align: center;
}

.activity-right-side p {
    padding: unset !important;
    margin: unset !important;
}

.activity-right-side ion-icon {
    font-size: 35px;
}

.avatar {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;

    img {
        display: block;
        border-radius: 50%;
        border: 3px solid white;
        background-color: #fff;
    }
}
