<ion-content>
    <p style="padding-left: 20px;" (click)="closeModal()">x</p>
    <form [formGroup]="activityForm">
        <ion-grid>
            <ion-row class="justify-content-center">
                <ion-col class="align-self-center size-md-6 size-lg-5 size-xs-12">
                    <div>
                        <ion-item>
                            <ion-label position="floating">Naam</ion-label>
                            <ion-input type="text" formControlName="name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Maximaal aantal deelnemers</ion-label>
                            <ion-input type="number" formControlName="maxParticipants"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Locatie</ion-label>
                            <ion-input type="text" formControlName="location"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Starttijd</ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="startTime"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Eindtijd</ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" formControlName="endTime"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label>Uitnodigen</ion-label>
                            <ionic-selectable
                                    formControlName="colleagues"
                                    [(ngModel)]="selectedUsers"
                                    [items]="users"
                                    itemValueField="colleagueId"
                                    itemTextField="name"
                                    [isMultiple]="true"
                                    [canSearch]="true">
                            </ionic-selectable>
<!--                            <ion-list>-->
<!--                                <ion-list-header>-->
<!--                                    <ion-searchbar placeholder="Zoek een collega" (ionChange)="filterColleagues($event)"></ion-searchbar>-->
<!--                                </ion-list-header>-->
<!--                                <ion-select formControlName="colleagues" multiple="true" placeholder="Nodig je collega's uit">-->
<!--                                    <ion-select-option *ngFor="let user of filteredUsers" value="{{user.userId}}">{{user.firstName}} {{user.lastName}}</ion-select-option>-->
<!--                                </ion-select>-->
<!--                            </ion-list>-->
                        </ion-item>
                    </div>
                    <div>
                        <ion-button size="large" type="submit" (click)="createActivity(activityForm)"
                                    [disabled]="activityForm.invalid"
                                    expand="block">Activiteit toevoegen
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
