<ion-item style="padding-top: 13px;">
    <ion-label class="list-item ion-text-wrap">
        <strong>{{ activityDomain.name }}</strong>
        <h3 *ngIf="activityDomain.location">{{getLocationString(activityDomain)}}</h3>

        <h3 class="" *ngFor="let item of activityDomain.participants;" [ngStyle]="{'color': checkIfUserIdIsMe(item.isMe),
        'font-weight': checkIfUserIdIsMe(item.isMe, true)}" (click)="redirectUserToProfile($event, item)">
            {{item.firstName}} {{item.lastName}}
        </h3>
    </ion-label>
    <label slot="end" class="activity-right-side">
        <ion-icon [ngStyle]="{'color': checkIfParticipating(activityDomain.isParticipating)}"
                  slot="end" (click)="checkInButtonClicked.next(activityDomain.activityId)" name="pin"></ion-icon>
        <p>{{activityDomain.isParticipating ? 'Uitchecken' : 'Check-in&nbsp;&nbsp;'}}</p>
    </label>
</ion-item>
