<ion-tabs>
  <ion-tab-bar slot="bottom">
<!--    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
-->
    <ion-tab-button tab="invites">
      <ion-badge *ngIf="inviteDomain.length > 0" id="notifications-badge" color="danger"></ion-badge>
      <ion-icon name="chatbubbles">

      </ion-icon>
      <ion-label>Uitnodigingen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activities">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>
<!--    <ion-tab-button tab="profile">-->
<!--      <ion-icon name="person"></ion-icon>-->
<!--      <ion-label>Profiel</ion-label>-->
<!--    </ion-tab-button>-->
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Instellingen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
