<ion-content>
    <header>
        <h1><b>kapittelweg 33</b></h1>
        <h2>Nu aanwezig</h2>
    </header>

    <section>
        <ion-list>
            <ion-item>
                <ion-label class="list-item">
                    <strong>Rondje lopen</strong>
                    <h3>12:00 - 13:00/ingang</h3>
                    <h3>kapittelweg 33</h3>
                </ion-label>
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label class="list-item">
                    <strong>Rondje lopen</strong>
                    <h3>12:00 - 13:00/ingang</h3>
                    <h3>kapittelweg 33</h3>
                </ion-label>
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label class="list-item">
                    <strong>Rondje lopen</strong>
                    <h3>12:00 - 13:00/ingang</h3>
                    <h3>kapittelweg 33</h3>
                </ion-label>
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label class="list-item">
                    <strong>Koffiecorner</strong>
                    <h3 style="color:orange">Devran Alper</h3>
                    <h3>Karel Anker</h3>
                    <h3>Wouter Ajnerr</h3>
                    <h3>Durian Murias</h3>
                </ion-label>
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label class="list-item">
                    <strong>Koffiecorner</strong>
                    <h3 style="color:orange">Devran Alper</h3>
                    <h3>Karel Anker</h3>
                    <h3>Wouter Ajnerr</h3>
                    <h3>Durian Murias</h3>
                </ion-label>
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label class="list-item">
                    <strong>Koffiecorner</strong>
                    <h3 style="color:orange">Devran Alper</h3>
                    <h3>Karel Anker</h3>
                    <h3>Wouter Ajnerr</h3>
                    <h3>Durian Murias</h3>
                </ion-label>
                <ion-icon slot="end" name="pin"></ion-icon>
            </ion-item>
        </ion-list>
    </section>
</ion-content>
