<ion-content>
    <header>
        <h1><b>Uitnodigingen</b></h1>
    </header>

    <section>
        <p *ngIf="invites.length == 0" style="color: #b5b5b5; text-align: center;">U heeft nog geen uitnodigingen.</p>
        <ion-list>
            <app-invite *ngFor="let item of invites;" [invite]="item"
                        (acceptButtonClicked)="acceptInvite($event)"
                        (refuseButtonClicked)="refuseInvite($event)">
            </app-invite>
        </ion-list>
    </section>
</ion-content>
