<ion-content color="primary" class="padding">
    <form [formGroup]="loginForm">
    <ion-grid>
        <ion-row color="primary" class="justify-content-center">
            <ion-col class="align-self-center size-md-6 size-lg-5 size-xs-12">
                <div class="text-center">
                    <h3>Login</h3>
                </div>
                <div>
                    <ion-item>
                        <ion-input name="email" formControlName="email" type="email" placeholder="your@email.com"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input name="password" type="password" formControlName="password" placeholder="Password"></ion-input>
                    </ion-item>
                </div>
                <div>
                    <div style="color:white; padding-top:15px; padding-left: 15px" *ngIf="(apiError.length > 2)">
                        {{apiError}}
                    </div>
                </div>
                <div>
                    <ion-button style="padding-top:15px;" size="large" (click)="login(loginForm)" type="submit"
                                [disabled]="loginForm.invalid" expand="block">Inloggen
                    </ion-button>

                    <p>
                        <a id="registration-link" routerLink="/register">Nog geen account? Maak er nu een aan!</a>
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    </form>
</ion-content>
